.container {
  max-width: 420px;
  margin: 50px auto;
  background: #fff;
  padding: 30px 25px;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px; 
  margin-bottom: 25px;
  position: relative;
  flex-wrap: wrap; /* allows stacking on smaller screens */
}

.progress-container{
    flex: 1.5;
    justify-content: center; 
    margin-bottom: 20px;
}

.progress-indicator{
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 100%;
}


.progress-bar {
    width: 30px;
    height: 5px;
    border-radius: 5px;
}

.progress-bar.active{
    background-color: #002d72;
}

.progress-bar.inactive{
    background-color: #818ea2;
} 

.logo {
  width: 120px;
  max-width: 30%;
  height: auto;
}

.header-profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 100%;
  flex-wrap: wrap;
  text-align: left;
  justify-content: center;
}

.user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.account-info {
  display: flex;
  flex-direction: column;
  
}

.acct-num {
  font-weight: 700;
  font-size: 15px;
  color: #111;
}

.acct-name {
  font-size: 13px;
  color: #555;
}

.intro {
  text-align: center;
  margin-bottom: 25px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: #111;
}

.subtitle {
  font-size: 14px;
  color: grey;
  margin-top: 6px;
}

.debit-card {
  width: 100%;
  /* max-width: 100%; */
  margin-bottom: 15px;
  border-radius: 10px;
  /* background: grey; */
}

.card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  flex-wrap: wrap;
  gap: 10px;
}

.card-title {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  color: #222;
}

.status {
  padding: 4px 10px;        
  font-size: 13px;
  border-radius: 20px;
  font-weight: 500;
}

.status.inactive {
  background: #c8bcbc70;
}

.btn-primary {
  margin-top: 100px;
  width: 100%;
  background: #003366;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;

  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);

}

 